
/* Set font and background colors */
body{
 font-family: monospace;
 background-image:url("./pxfuel.jpg");
}


h1{
    text-align: center;

}

        /* Change font color and style for h1 */
h1{
    color: #1B5E20;
    font-family: monospace;
     font-size: 28px;
    font-weight: bold;
}
h2{
   color:#1B5E20;
}



/* Style the task list container */
.task-items-wrapper {
    margin-top: 20px;
}
table {

    width: 100%;
    border-collapse: collapse;
    background:white;
    color:#388E3C;
}

table, th, td {
    border: 2px solid;

}

th, td {
    padding: 8px;
}
th{
color:#388E3C;
}


.header-box {

    padding: 10px;
    color: #fff;
    text-align: right;
    margin-top:50px;

}

/* Style the links */

a{
    color:#1B5E20;
    text-decoration: none;
    padding: 8px;
    text-align:right;

}




a:hover {
    background-color: #333;
    color: #fff;
}